h1{
    text-align: center;
}
.box{
    background-color: white;
    padding-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    height: 200px;
    
}
.cross{
    display: block;
    background-color: red;
    width: max-content;
    margin-left: 100%;
    font-weight: 800;
    padding: 0px 10px;
    transform: translate(-100%,0px)
}
.cross:hover{
    background-color: rgb(248, 152, 152);
}
:host{
    display: flex;
    background-color: rgba(0, 0, 0, 0.726);
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;
}