<div class="outerDiv">
    <h1>Sign-up</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="formSubmitted()">
        <input id="email" placeholder="Enter Username" formControlName="userId" >
        <label for="email" *ngIf="emailError.required">Email Id is required</label>
        <label *ngIf="emailError.email" for="email">Please Enter a correct email</label>
        <!-- <label>Email Avalibale</label>
        <label>Loading</label>
        <label>Already useed</label> -->
        <input id="password" placeholder="Enter password" formControlName="password">
        <label><span appColorDirective [colorBooleanValues]="passwordError.minLength">Atleat 8 characters</span><br>
            <span appColorDirective [colorBooleanValues]="passwordError.specialCharacter">One Special Charater(#,&#64;,!,etc.)</span></label>
        <button>Sign-up</button>
    </form>
</div>
