<div class="outerDiv">
    <h1>Login</h1>
    <form [formGroup]="groupOfForms" (ngSubmit)="fromSubmitted()">
    <input formControlName="username" placeholder="Enter Username">
        <input formControlName="password" placeholder="Enter password">
        <button>Login</button>
    </form>
    <div class="openIdConnect">
        <span class="openIdConnectHeading">Create account Or<a routerLink="/sign-up"> sign-up using</a></span>
        <div>
            <a [href]="googleLink"><img src="./../../assets/GoogleImage.png"></a>
            <a [href]="link"><img src="./../../assets/githubImage.png"></a>
        </div>
    </div>
</div>
