/* You can add global styles to this file, and also import other style files */
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
form input{
    margin-top: 4px;
}
form button{
    margin-top: 4px ;
}